<div class="content-area">


    <!-- CONTENT AREA INNER --> 
    <div class="content-area-inner">


        <!-- INTRO -->
        <section id="intro">


            <!-- CONTAINER MID -->
            <div class="container-mid">

               
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-down" data-animation-delay="0">
                
                    <center><h1>Ican rezende</h1></center>
                
                </div>
                <!-- /ANIMATION CONTAINER -->
                
                
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-left" data-animation-delay="300">
                   
                    <center><p style ="font-size:20px ;" class="subline">His Name is M.Lisan Shidiqie was born in Lameue Baro on March 28 , 2000,he is the first child of Yuliana and Tarmizi who live in Sigli,Pidie District,Aceh. </p></center>


                    
                </div>
                <!-- /ANIMATION CONTAINER -->
                
                
                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-up" data-animation-delay="600">
                   
                    <a href="#about" class="smooth-scroll">Learn More<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    
                </div>
                <!-- /ANIMATION CONTAINER -->


            </div>
            <!-- /CONTAINER MID -->


        </section>
        <!-- /INTRO -->


        <!-- ABOUT -->
        <section id="about">


            <h3 class="headline scroll-animated-from-right">EDUCATION</h3>
            
            <p style ="font-weight: bold;"; class="scroll-animated-from-right"> -   
                SD NEGERI 1 Sakti, Sigli (2006-2012)</p>
            <p style ="font-weight: bold;"; class="scroll-animated-from-right"> - MTSN 3 Pidie, Sigli  (2012 - 2015)</p>
            <p style ="font-weight: bold;"; class="scroll-animated-from-right"> - MAN 4 Pidie, Sigli  (2015 - 2018)</p>
            <p style ="font-weight: bold;"; class="scroll-animated-from-right"> - POLITEKNIK ACEH   (2018 - Sekarang)</p>       


            <p class="scroll-animated-from-right"></p>


        </section>
        <!-- /ABOUT -->
        
        
        <!-- SERVICE -->
        <section id="service">


            <h3 class="headline scroll-animated-from-right">Skill</h3>
            
            
            <!-- SERVICE LIST -->
            <ul class="services-list">
               
               
                <li class="scroll-animated-from-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Programmer</li>
                <li class="scroll-animated-from-right"><i class="fa fa-television" aria-hidden="true"></i>Web Design</li>
                <li class="scroll-animated-from-right"><i class="fa fa-square-o" aria-hidden="true"></i>UI & UX Design</li>
                
                
            </ul>
            <!-- /SERVICE LIST -->


        </section>
        <!-- /SERVICE -->
        
        
        <!-- WORK -->
        <section id="work">


            <h3 class="headline scroll-animated-from-right">Interest</h3>
            
            
            <!-- SHOWCASE -->
            <div class="showcase">
               
               
                <!-- ITEM -->
                <div class="item scroll-animated-from-right">
                  
                  
                    <!-- LIGHTBOX LINK -->
                    <a href="#" data-featherlight="#item-1-lightbox">
                    
                    
                        <!-- INFO -->
                        <div class="info">


                            <!-- CONTAINER MID -->
                            <div class="container-mid">

                                <h5>Web Design</h5>
                              

                            </div>
                            <!-- /CONTAINER MID -->


                        </div>
                        <!-- /INFO -->


                        <div class="background-image" style="background-image: url(assets/img/work/item-1.jpg)"></div>

                   
                    </a>
                    <!-- /LIGHTBOX LINK -->
                    
                    
                    <!-- LIGHTBOX -->
                    <div id="item-1-lightbox" class="work-lightbox">
                       
                       
                        <img class="img-responsive" src="assets/img/work/item-1.jpg" alt="image">
                        
                        <h3>Web Design</h3>
                        
                        
                        <p> Tujuan web design adalah sebagai salah satu media komunikasi, dimana memang bertujuan untuk membuat atau menyampaikan informasi secara cepat dan realtime. Seperti saat Anda mengunjungi sebuah website, maka akan ada desain pertama kali yang dilihat. Baik dari komposisi, warna sampai tata letak yang sangat beragam.</p>
                        
                        
                    </div>
                    <!-- /LIGHTBOX -->
                    
                    
                </div>
                <!-- /ITEM -->
                
                
                <!-- ITEM -->
                <div class="item scroll-animated-from-right">
                  
                  
                    <!-- LIGHTBOX LINK -->
                    <a href="#" data-featherlight="#item-2-lightbox">
                    
                    
                        <!-- INFO -->
                        <div class="info">


                            <!-- CONTAINER MID -->
                            <div class="container-mid">

                                <h5>Programmer</h5>
                                <p></p>

                            </div>
                            <!-- /CONTAINER MID -->


                        </div>
                        <!-- /INFO -->


                        <div class="background-image" style="background-image: url(assets/img/work/item-2.jpg)"></div>

                   
                    </a>
                    <!-- /LIGHTBOX LINK -->
                    
                    
                    <!-- LIGHTBOX -->
                    <div id="item-2-lightbox" class="work-lightbox">
                       
                       
                        <img class="img-responsive" src="assets/img/work/item-2.jpg" alt="image">
                        
                        <h3>Programmer</h3>
                       
                        
                        <p>Tugas utama programmer adalah membuat program, dimana program tersebut bisa terbentuk atas beberapa susunan kode. Saat menulis kode, gambaran rancangan dalam bentuk flowchart yang sudah dibuat sebelumnya bisa dituangkan dalam bahasa pemrograman yang telah ditentukan.</p>
                        
                        
                    </div>
                    <!-- /LIGHTBOX -->
                    
                                    

                
           

        </section>
        <!-- /WORK -->
        
      
        
        
        <!-- FOOTER -->
        <section id="footer">
        
           
            <!-- SOCIAL ICONS -->
            <ul class="social-icons scroll-animated-from-right">
               
               
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-wordpress" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCNqO_l3rWqyVrF7b_NalFDw"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            
                
                
            </ul>
            <!-- /SOCIAL ICONS -->
            

        </section>
        <!-- /FOOTER -->


    </div>
    <!-- /CONTENT AREA INNER -->


</div>