<!doctype html>
<html lang="en">

    {% include head.html %}
   
    <body>
    
       
        <!-- PRELOADER -->
        <div class="preloader">
           
            <div class="spinner"></div>
            
        </div>
        <!-- /PRELOADER -->
    
        
        <!-- IMAGE CONTAINER -->
        {% include tentang.html %}
        <!-- /IMAGE CONTAINER -->


        <!-- CONTENT AREA -->
        {% include beranda.html %}
        <!-- /CONTENT AREA -->
        
        
        <!-- JAVASCRIPTS -->
        {% include scripts.html %}
   
    </body> 
    
    
</html>